#header{
	background-color: rgb(197, 197, 248);
	width:80%;
	height:98px;
	text-align: left;
	border-top:10px;
}

#sidebar-left{
	float:left;
	width:15%;
	background-color: rgb(197, 197, 248);
}

#main{
	float:left;
	width:64%;
	background-color: white;
	/* flex */	
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-flow:wrap
}

#sidebar-right{
	float:left;
	width:15%;
	background-color: rgb(176, 176, 241);	
}

#footer{
	clear:both;
	height: 50px;
	width: 80%;
	text-align: center;
	background-color: rgb(197, 197, 248);
	font-weight: bold ; 
	display: flex; 
  align-items: center;	  
}
div.h3{
	padding-left: 2px;
}
#sidebar-left, #main, #sidebar-right{
	min-height: 420px;				
}
div{
border-style: groove;
}
/* .container{
	widows: 100%;
	height:auto;
	background: chartreuse;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-flow:wrap
}*/
/* @media screen and (max-width:1200px){
	.box{
		width:100%;
	}
}
@media screen and (max-width:600px){
	.box{
		width:90%;
	}
} */
.box{
	width:190px;
	height:78px;
	background :rgb(197, 197, 248);
	margin:30;
	box-sizing: border-box;
	font-size: 50px;
	font-style: normal;
	font-display: white;
	text-align: center;
	text-decoration-color: white;
}
.butt {
	font-size: .825em;
	margin-top: 26px;
    text-decoration: none;
	font-weight: 800;
	margin-left: 16px;
	width:126px;
	height: 53px;
    padding: 0.35em 1em;
    background-color: white;
    background-image: linear-gradient(white,white);
    border-radius: 3px;
    color: rgba(0,0,0,.6);
    text-shadow: 0 1px 1px rgba(255,255,255,.7);
    box-shadow: 0 0 0 1px rgba(0,0,0,.2), 0 1px 2px rgba(0,0,0,.2), inset 0 1px 2px rgba(255,255,255,.7);
}
a  {
	color:whitesmoke;
	line-height: 57px;

}

.boxcolor{
	color: white;
}

