.box{
	width:450px;
	height:361px;
	background :rgb(197, 197, 248);
	 margin:1px; 
	box-sizing: border-box;
	/* font-size: 50px; */
	font-style: normal;
	font-display: white;
	/* text-align: center;
	text-decoration-color: white; */
}

#main{
	/* float:left; */
	width:131%;
	background-color: white;		
	display: flex;
	flex-direction: row;	
	flex-flow:wrap
}


.container {
    display: flex;
  }
  .holder {
    flex: 1;
    margin: 1%;
    border-radius: 50%;
  }
  .holder:before {
    content: "";
    display: inline-block;
    padding-top: 100%;
  }
  .h1 {
    background: blue;
  }
  .h2 {
    background: red;
  }
  .h3 {
    background: green;
  }
  .h4 {
    background: grey;
  }